.nav-container {
  width: 100%;
  max-width: 100%;
  background-color: #607D8B;
  color: #eee;
  height: 56px;
  font-size: 22px;
  z-index: 2;
  position: absolute;
  display: flex;
  font-family: 'Roboto', georgia;
  font-weight: 300;
}

.nav-container a.logo, button {
  display: block;
  line-height: 40px;
  border: none;
  border-radius: 4px;
}

.nav-container a.logo:hover span {
  color: #444;
}

.nav-container button {
  padding: 8px;
  background-color: #607D8B;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
}

.nav-container button:hover {
  color: #444;
}

.logo-container {
  display: flex;
  width: 250px;
}

.logo-container img {
  margin: 0 8px;
  vertical-align: middle;
}

.logo-container div {
  flex: 1;
}

.nav-container a.logo {
  padding: 8px;
  font-weight: 500;
  width: 100%;
  text-align: right;
  color: #fff;
  align-items: center;
}

a.auth-button {
  margin: 8px;
}