<!-- <div class="details-container">
  <div class="card">
    <div class="padding">
      <h3>Hero Details</h3>
      
      <div *ngIf="hero">
        <div class="input-container"><label>Id:</label> <span>{{hero.id}}</span></div>
        <div class="input-container"><label>Name:</label> <input [(ngModel)]="hero.name"></div>
      </div>
    </div>
    <div class="padding">
      <div class="card-actions">
        <button (click)="goBack()">Back</button>
        <button (click)="goBack()">Save</button>
      </div>
    </div>
  </div>
</div>
 -->

<md-card *ngIf="hero">
  <md-card-title>{{hero.name}} Details</md-card-title>
  <md-card-content>
    <form>
      <!-- <div class="input-container"><label>Id:</label> <span>{{hero.id}}</span></div> -->
      <!-- <div class="input-container"><label>Name:</label> <input [(ngModel)]="hero.name"></div> -->
      <md-input placeholder="Id" name="id" [(ngModel)]="hero.id" disabled></md-input>
      <md-input placeholder="Name" name="name" [(ngModel)]="hero.name"></md-input>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button (click)="goBack()">Back</button>
    <button md-raised-button (click)="goBack()">Save</button>

  </md-card-actions>
</md-card>