

<md-card *ngIf="user">
  <md-card-title>{{user.name}} Details</md-card-title>
  <md-card-content>
    <form>
      <!-- <div class="input-container"><label>Id:</label> <span>{{User.id}}</span></div> -->
      <!-- <div class="input-container"><label>Name:</label> <input [(ngModel)]="User.name"></div> -->
      <md-input placeholder="Id" name="id" [(ngModel)]="user.id" disabled></md-input>
      <md-input placeholder="Name" name="name" [(ngModel)]="user.name"></md-input>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button (click)="goBack()">Back</button>
    <button md-raised-button (click)="goBack()">Save</button>

  </md-card-actions>
</md-card>