<div class="flex-container">

  <div class="flex-100 layout">
  <md-card>
    <md-card-title>Matt Daisley - Full Stack Developer</md-card-title>
    <md-card-content>
      <div class="flex-container">
        <div class="flex-25 layout">
          <p class="contact">
            7670 Barbara Ann Dr, Arvada, CO 80004
          </p>
        </div>
        <div class="flex-25 layout">
          <p class="contact">
            (303) 960-5328
          </p>
        </div>
        <div class="flex-25 layout">
          <p class="contact">
            mattdaisley@gmail.com
          </p>
        </div>
        <div class="flex-25 layout">
          <p class="contact">
            github.com/mattdaisley
          </p>
        </div>
      </div>
    </md-card-content>
  </md-card>
  </div>

  <div class="flex-100 layout">
    <md-card>
      <md-card-title>Qualifications Summary</md-card-title>
      <md-card-content>
        <div class="flex-container">
          <div class="flex-100 qualifications">
            <p>
              Skilled full stack developer with over 3.5 years of experience in the Boulder technology community.
            </p>
          </div>
          <div class="flex-100 qualifications">
            <p>
              Experienced in developing scalable web applications on multiple platforms.
            </p>
          </div>
          <div class="flex-100 qualifications">
            <p>
              Proven success in designing, implementing, and maintaining large and complex applications in a
              high stress environment.
            </p>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>

  <div class="flex-100 layout">
    <md-card>
      <md-card-title>Skills</md-card-title>
      <md-card-content>
        <div class="flex-container">
          <div class="flex-100 skills">
            <p>
              Object Oriented Development &nbsp;&bull;&nbsp; REST API Development and Integration  &nbsp;&bull;&nbsp; Database Optimization &nbsp;&bull;&nbsp; Complex Troubleshooting &nbsp;&bull;&nbsp; Project Management  &nbsp;&bull;&nbsp; Client Communication
            </p>
          </div>
          <div class="flex-100 skills">
            <p>
              Javascript, jQuery, AngularJS 1.5, Angular 2, HTML5, CSS3, PHP, MYSQL, Python, C, C++, BASH, GIT
            </p>
            <p>
              Experience with Node.js, Jasmine, Karma, PHPUnit, MongoDB
            </p>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </div>

</div>