
<div class="flex layout">
<md-card>
  <md-card-title>Tour of Users</md-card-title>
  <md-card-content>
    <p>
    Tour of heroes demo from the Angular2 docs
    converted to show website users
    </p>
  </md-card-content>
  <md-card-actions align="end">
    <a [routerLink]="'/users'" routerLinkActive="active" md-button>Checkout Users</a>
  </md-card-actions>
</md-card>
</div>

<div class="flex layout">
<md-card>
  <md-card-title>Tour of Users 2</md-card-title>
  <md-card-content>
    <p>
    Tour of heroes demo from the Angular2 docs
    converted to show website users
    </p>
  </md-card-content>
  <md-card-actions align="end">
    <a [routerLink]="'/users2'" routerLinkActive="active" md-button>Checkout Users</a>
  </md-card-actions>
</md-card>
</div>

<div class="flex layout">
<md-card>
  <md-card-title>Tour of Users 3</md-card-title>
  <md-card-content>
    <p>
    Tour of heroes demo from the Angular2 docs
    converted to show website users
    </p>
  </md-card-content>
  <md-card-actions align="end">
    <a [routerLink]="'/users3'" routerLinkActive="active" md-button>Checkout Users</a>
  </md-card-actions>
</md-card>
</div>