<md-card>
  <md-card-title>Tour of Users</md-card-title>
  <md-card-content>
    Tour of users demo from the Angular2 docs
  </md-card-content>
  <md-card-actions align="end">
    <a [routerLink]="'/users'" routerLinkActive="active" md-button>Checkout Users</a>
  </md-card-actions>
</md-card>

<md-card>
  <md-card-title>Create your dog's profile</md-card-title>
  <md-card-content>
    Tour of users demo from the Angular2 docs
  </md-card-content>
  <md-card-actions align="end">
    <a [routerLink]="'/users2'" routerLinkActive="active" md-button>Checkout Users</a>
  </md-card-actions>
</md-card>